{% extends "layout.html" %}

{% block insert %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <p class="text-{{ category }}">{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  
  <br>
  {% for item in total_elections %}
    {% if item["data"]["creator"] != session["user"]["username"] %}
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">{{ item.data.title }} <small>By {{ item.data.creator }}</small></h5>
          </div>
          <div class="card-body">
            {% for j in item.data.voting_options %}
              <p class="card-text">{{ "{} - {} vote(s)".format(j, item.data.voting_options[j]) }}</p>
            {% endfor %}

            {% if session["user"]["username"] in item["data"]["voters"] %}
              <p class="text-success">You have voted for this election</p>
            {% else %}
              <a href="{{ url_for('vote', election_id=item.ref.id()) }}" class="btn btn-primary">Vote</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
    <br>
  {% endfor %}
{% endblock insert %}