{% extends "layout.html" %}

{% block insert %}

    {% for i in elections %}
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">{{ i.data.title }}</h5>
        </div>
        <div class="card-body">
          {% for j in i.data.voting_options %}
          <p class="card-text">{{ "{} - {} vote(s)".format(j, i.data.voting_options[j]) }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
    <br>
    {% endfor %}
  </div>
</div>
{% endblock insert %}